@use '../utilities/mixins' as *;
// @use '../utilities/colors';
// @use '../utilities/fonts';


.calendar-page {
	--color-purple: #b188b5;
	--color-blue: #1a759f;
	--color-green: #a7b300;
	--color-orange: #d48844;

	position: relative;

	h1 {
		margin-bottom: 0;
	}

	.intro {
		text-align: center;
		padding-bottom: 14px;
	}

	.sub-headline {
		font-size: 20px;
	}

	.text {
		margin: 0;
	}

	/* ==================== */
	/* Calendar */
	/* ==================== */
	.calendar-container {
		--day-width: calc(100% / 7);

		padding: 0 50px 50px;
	}

	.calendar-header {
		max-width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		padding: 10px;
	}

	.weekdays {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}

	.month-label {
		font-size: 26px;
		font-family: sans-serif;
	}

	.weekday-label {
		width: var(--day-width);
		padding: 10px;
	}

	.calendar {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		align-items: flex-start;
	}

	.day {
		width: var(--day-width);
		height: 142px;
		background-color: white;
		display: flex;
		flex-direction: column;
		position: relative;
		cursor: pointer;
		box-shadow: 0px 0px 3px #ddb110;
		padding: 10px;

		&:hover {
			background-color: #ddb1100D;
		}
	}

	.day + .current-day {
		background-color:#ddb11030;
	}

	.blank-days {
		cursor: default;
		box-shadow: none;

		&:hover {
			background-color: #FFFFFF;
		}
	}

	.event {
		font-size: 14px;
		color: white;
		border-radius: 5px;
		min-height: 14px;
		max-height: 55px;
		overflow: hidden;
		width: 100%;
		position: absolute;
		left: 0;
		z-index: 2;
		margin-top: 30px;
		padding: 3px;
		background-color: #222;
		min-height: 23px;
	}

	/* ==================== */
	/* Buttons */
	/* ==================== */
	button {
		width: 75px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		padding: 5px;
		margin-inline-end: 8px;

		&:last-of-type {
			margin-inline-end: 0;
		}
	}

	.back-button,
	.next-button {
		background-color:#fff;
		box-shadow: 0px 0px 2px black;
	}

	.save-button,
	.update-button {
		background-color: #ddb110c7;
	}

	.cancel-button {
		background-color: #d9cec2;
	}

	.delete-button {
		background-color: #d87762;
	}

	.delete-all-events-button {
		background-color: #222;
		color: white;
		width: auto;
		margin-top: 120px;
	}

	/* ==================== */
	/* Modals */
	/* ==================== */
	.new-event-modal,
	.update-delete-event-modal {
		z-index: 20;
		padding: 25px;
		background-color: #fff;
		box-shadow: 0px 0px 3px #512b05;
		border-radius: 5px;
		width: 380px;
		position: absolute;
		top: calc(50% + var(--desktop-nav-height) / 2);
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.modal-backdrop {
		top: 0px;
		left: 0px;
		z-index: 10;
		width: 100vw;
		height: 100%;
		position: absolute;
		background-color: #c9c0b5cc;
	}

	.modal-headline {
		display: inline-block;
		text-transform: uppercase;
		font-weight: 800;
		font-size: 20px;
		width: 70%;
		margin-right: 10px;
	}

	.inline-row {
		display: inline-flex;
	}

	.input-text-field {
		width: 100%;
		margin-bottom: 10px;
		border-radius: 3px;
		outline: none;
		border: none;
		box-shadow: 0px 0px 3px gray;
		padding: 12px;
		margin-top: 4px;
	}

	.color-selection-label {
		margin-bottom: 6px;
	}

	.color-selection {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: flex-start;
		margin-bottom: 6px;

		&:last-of-type {
			margin-bottom: 25px;
		}
	}

	.swatch {
		display: flex;
		font-weight: 600;

		&::before {
			content: '';
			width: 20px;
			height: 20px;
			margin-left: 6px;
			margin-right: 5px;
		}
	}

	.label-purple {
		color: var(--color-purple);
		.swatch::before {
			background-color: var(--color-purple);
		}
	}

	.label-blue {
		color: var(--color-blue);
		.swatch::before {
			background-color: var(--color-blue);
		}
	}

	.label-green {
		color: var(--color-green);
		.swatch::before {
			background-color: var(--color-green);
		}
	}

	.label-orange {
		color: var(--color-orange);
		.swatch::before {
			background-color: var(--color-orange);
		}
	}
}
