@use '../utilities/mixins' as *;
// @use '../utilities/colors';
// @use '../utilities/fonts';


.calendar-page {
	.day {
		margin: 0 auto;
		width: 142px;
		height: 142px;
		box-shadow: 0px 0px 3px #ddb110;
		padding: 10px;
	}
}
