@use '../utilities/mixins' as *;
// @use '../utilities/colors';
// @use '../utilities/fonts';


.nth-child-page {
	display: flex;
	flex-direction: column;
	align-items: center;

	.alt-header h1 {
		text-transform: inherit;
		margin-top: 40px;
	}


	/* ==================== */
	/* Grid */
	/* ==================== */
	.grid-container {
		// Grid Variables
		--columns: 10;
		--rows: 10;
		--itemSize: 30px;
		--gapSize: 4px;
		--outer-padding: 35px;

		background-color: #222;
		padding: var(--outer-padding);
		display: grid;
		gap: var(--gapSize);
		grid-template-columns: repeat(var(--columns), 1fr);
		grid-template-rows: repeat(var(--rows), auto);
		grid-auto-flow: column; // flows down, instead of left to right

		.grid-item {
			width: var(--itemSize);
			height: var(--itemSize);
		}
	}


	/* ==================== */
	/* Colors */
	/* ==================== */
	.column-1 {
		background-color: #ff595e;
	}

	.column-2 {
		background-color: #ff924c;
	}

	.column-3 {
		background-color: #ffca3a;
	}

	.column-4 {
		background-color: #c5ca30;

	}
	.column-5 {
		background-color: #8ac926;
	}

	.column-6 {
		background-color: #36949d;
	}

	.column-7 {
		background-color: #1982c4;
	}

	.column-8 {
		background-color: #4267ac;
	}

	.column-9 {
		background-color: #565aa0;

	}
	.column-10 {
		background-color: #6a4c93;
	}
}
