@use '../utilities/mixins' as *;
// @use '../utilities/colors';
// @use '../utilities/fonts';


.nth-child-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 30px;

	.alt-header h1 {
		text-transform: inherit;
		margin-top: 40px;
		margin-bottom: 0;
	}

	p:first-of-type {
		margin-bottom: 0;
	}

	p+p {
		margin-top: 0;
	}

	section {
		margin-bottom: 20px;
	}


	/* ==================== */
	/* Code */
	/* ==================== */
	pre {
		background-color: #e8e8e8;
		padding: 10px;
	}

	code {
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		line-height: 1.5;
		color: black;
		font-size: 14px;
	}


	/* ==================== */
	/* Grid */
	/* ==================== */
	.grid-container {
		// Grid Variables
		--columns: 10;
		--rows: 10;
		--itemSize: 30px;
		--gapSize: 4px;
		--outer-padding: 35px;

		background-color: #222;
		padding: var(--outer-padding);
		display: grid;
		gap: var(--gapSize);
		grid-template-columns: repeat(var(--columns), 1fr);
		grid-template-rows: repeat(var(--rows), auto);
		grid-auto-flow: column; // flows down, instead of left to right

		.grid-item {
			width: var(--itemSize);
			height: var(--itemSize);
			opacity: .4;
		}
	}


	/* ==================== */
	/* nth-child Examples*/
	/* ==================== */
	// Adapted from tutorial:
	// https://www.youtube.com/watch?v=fg7GEN7PbWs&t=46s
	// n start at 0
	// n loops = 0, 1, 2, 3, ...
	// 2n = 2 * n

	// select by grid-items
	.all .grid-item:nth-child(n),
	.none .grid-item:nth-child(0),
	.first .grid-item:nth-child(1),
	.fifth .grid-item:nth-child(5),
	.even .grid-item:nth-child(even),
	.odd .grid-item:nth-child(odd),
	.thirds .grid-item:nth-child(3n),
	.thirds-offset-4 .grid-item:nth-child(3n + 4),
	.thirds-offset-21 .grid-item:nth-child(3n + 21),
	.five-above .grid-item:nth-child(n + 5),
	.five-below .grid-item:nth-child(-n + 5),
	.range-4-7 .grid-item:nth-child(n + 4):nth-child(-n + 7),
	.range-53-58 .grid-item:nth-child(n + 53):nth-child(-n + 58),
	.fifth-from-end .grid-item:nth-last-child(5),
	.thirds-from-end .grid-item:nth-last-child(3n) {
		opacity: 1;
	}

	// select by columns
	.even-columns .grid-item {
		@for $i from 1 through 10 {
			&:nth-child(20n + #{$i + 10}) {
				opacity: 1;
			}
		}
	}
	.odd-columns .grid-item {
		@for $i from 1 through 10 {
			&:nth-child(20n + #{$i}) {
				opacity: 1;
			}
		}
	}
	.first-column .grid-item {
		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				opacity: 1;
			}
		}
	}
	.middle-columns .grid-item {
		@for $i from 1 through 20 {
			&:nth-child(#{$i + 40}) {
				opacity: 1;
			}
		}
	}
	.last-column .grid-item {
		@for $i from 1 through 10 {
			&:nth-last-child(#{$i}) {
				opacity: 1;
			}
		}
	}


	/* ==================== */
	/* Colors */
	/* ==================== */
	.column-1 {
		background-color: #ff595e;
	}

	.column-2 {
		background-color: #ff924c;
	}

	.column-3 {
		background-color: #ffca3a;
	}

	.column-4 {
		background-color: #c5ca30;

	}
	.column-5 {
		background-color: #8ac926;
	}

	.column-6 {
		background-color: #36949d;
	}

	.column-7 {
		background-color: #1982c4;
	}

	.column-8 {
		background-color: #4267ac;
	}

	.column-9 {
		background-color: #565aa0;

	}
	.column-10 {
		background-color: #6a4c93;
	}
}
