@use '../utilities/mixins' as *;
// @use '../utilities/colors';
@use '../utilities/fonts';


.screenprint-breakdown-page {
	// Variables
	--shirt-color: black;
	--inner-border-color: #474747;
	--overview-tile-border-color: #232323;

	&.gorillaz {
		--shirt-color: #f3f1f3;
		--inner-border-color: #b7b5b2;
		--overview-tile-border-color: #e0e0e0;
	}


	// =====================
	// Containers
	// =====================
	&.full-backboard {
		background-color: #ddd7d2;
		padding-bottom: 20px;
	}

	.screenprint-breakdown-container {
		padding-top: 10px;
		margin: 0 auto;
		max-width: 1480px;
	}


	// =====================
	// Shared Styles
	// =====================
	h1, h2, p, li, a, a:hover {
		color: #48392f;
	}

	h2, p, a {
		opacity: .7;
	}

	h2 {
		font-family: fonts.$alt-title;
		font-size: 3.4rem;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;

		@include bp(s) {
			font-size: 2.8rem;
			line-height: 3rem;
		}
	}

	.row {
		display: flex;
		justify-content: center;
	}

	.outer-wrapper {
		padding: 16px;
		margin-bottom: 50px;
		background: var(--shirt-color);
		box-shadow: 0px 40px 60px -20px rgba(0, 0, 0, 0.3);
	}

	.inner-border {
		border: 2px solid var(--inner-border-color);
	}

	.content-container {
		margin: 0 auto;
	}

	.left-col,
	.right-col {
		position: relative;
		width: 50%;
		margin: 5px;
		padding: 5px;
		background-color: var(--shirt-color);

		@include bp(s) {
			margin: 2px;
		}
	}

	// display over right col during animation
	.left-col .tile {
		z-index: 1;
	}

	.tile {
		left: 0%;
		top: 0%;
		position: absolute;
		height: 100%;
		width: 100%;
		background-repeat: no-repeat;
	}

	.ub {
		opacity: .8;
	}

	.ink-label,
	.reset-label {
		font-family: fonts.$sans-serif;
		font-size: 1.4rem;
		font-weight: bold;
		color: black;
		text-transform: uppercase;
	}


	// =====================
	// Intro
	// =====================
	.intro {
		.inner-border {
			background-color: white;
		}

		.content-container {
			height: 200px;
			max-width: 980px;
		}

		.text-block {
			width: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding-left: 20px;
		}

		.image-block {
			width: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.intro-image {
			height: 100%;
			width: 100%;
			background-size: 200px;
			background-repeat: no-repeat;
			background-position: center;

			@include bp(s) {
				background-size: 175px;
			}
		}
	}


	// =====================
	// Shared Ink Block
	// =====================
	.ink-block {
		button {
			border-style: none;
			border-radius: 8px;
			height: 40px;
			margin-bottom: 8px;
			max-width: 104px;

			&:hover {
				opacity: 0.6;
			}

			&.is-pressed {
				opacity: 0.6;
				transform: translateY(2px);
			}
		}

		.ink-label {
			@include bp(m) {
				font-size: 0;
			}
		}

		.reset-label {
			background: rgba(255, 255, 255, 0.2);
			color: white;

			@include bp(m) {
				font-weight: lighter;
				font-size: 1.2rem;
				min-width: 60px;
			}
		}
	}


	// =====================
	// Color Separations
	// =====================
	.color-separation {
		.instructions {
			margin: auto;
			max-width: 680px;
			padding: 0 20px 45px;
			text-align: center;
		}

		.content-container {
			height: 410px;

			@include bp(m) {
				height: 250px;
			}

			@include bp(s) {
				height: 190px;
			}
		}

		.tile {
			background-size: 350px;
			background-position: 50% 50%;

			@include bp(m) {
				background-size: 280px;
			}

			@include bp(s) {
				background-size: 200px;
			}
		}
	}


	// =====================
	// Halftone Closeup
	// =====================
	.halftone-closeup {
		.halftone-block {
			height: 500px;

			@include bp(m) {
				height: 280px;
			}

			@include bp(s) {
				height: 220px;
			}
		}

		.tile {
			background-size: 216%;
			background-position: 50% 50%;
		}
	}


	// =====================
	// Overview
	// =====================
	.overview {
		.overview-label {
			text-align: center;
			height: 26px;
			width: 100%;
			padding: 4px;
		}

		.ink-all {
			color: white;
			opacity: .8;
		}

		.overview-block {
			background-color: var(--overview-tile-border-color);
		}

		.tile-container {
			position: relative;
			height: 140px;
			width: 100%;
			margin: 3px;
			background-color: var(--shirt-color);
		}

		.tile {
			background-size: 112px;
			background-position: 50% 50%;
		}
	}


	// ========================
	// Sub Nav to other designs
	// ========================
	.more-designs-nav {
		ul {
			display: flex;
			justify-content: flex-end;
			padding: 0 22px 0 16px;
		}

		li {
			padding: 0 14px;
		}

		.label,
		a:link,
		a:visited {
			opacity: .7;
		}

		a:hover {
			opacity: 1;
		}

		a.deactive {
			opacity: .4;
			pointer-events: none;
		}
	}


	// ========================
	// Animations
	// ========================
	.slide-right {
		animation: slide-right 1.5s ease-in-out 1 forwards;
	}

	.slide-left {
		animation: slide-left 1.5s ease-in-out 1 forwards;
	}

	.ub.slide-left {
		animation: slide-left-ub 1.5s ease-in-out 1 forwards;
	}

	@keyframes slide-right {
		0% { transform: translateX(0px); }
		100% { transform: translateX(102%); }
	}

	@keyframes slide-left {
		0% { transform: translateX(102%); }
		95% { opacity: 1; }
		100% {
			transform: translateX(0px);
			opacity: 0;
		}
	}

	@keyframes slide-left-ub {
		0% { transform: translateX(102%); }
		95% { opacity: .8; }
		100% {
			transform: translateX(0px);
			opacity: 0;
		}
	}


	// ===================================
	// Teotihuacan Style Overrides
	// ===================================
	&.teotihuacan {
		.ink-1 {
			background-color: rgba(255, 255, 255, 0.7);
		}

		.ink-2 {
			background-color: rgba(103, 85, 69, 1);
		}

		.ink-3 {
			background-color: rgba(201, 178, 128, 1);
		}

		.ink-4 {
			background-color: rgba(156, 60, 37, 1);
		}

		.ink-5 {
			background-color: rgba(255, 255, 255, 1);
		}

		.color-separation {
			.content-container {
				max-width: 1100px;
			}
		}

		.halftone-closeup .tile {
			background-position: 72% 44%;
		}
	}


	// ===================================
	// Hot Rod Bunny Style Overrides
	// ===================================
	&.hot-rod-bunny {
		.ink-1 {
			background-color: rgba(255, 255, 255, 0.7);
		}

		.ink-2 {
			background-color: rgba(147, 121, 208, 1);
		}

		.ink-3 {
			background-color: rgba(232, 30, 117, 1);
		}

		.ink-4 {
			background-color: rgba(255, 111, 32, 1);
		}

		.ink-5 {
			background-color: rgba(255, 255, 255, 1);
		}

		.intro-image {
			background-size: 190px;
		}

		.color-separation {
			.content-container {
				max-width: 1000px;
			}

			.tile {
				background-size: 500px;

				@include bp(m) {
					background-size: 320px;
				}

				@include bp(s) {
					background-size: 180px;
				}
			}
		}

		.halftone-closeup .tile {
			background-position: 60% 29%;
		}

		.overview .tile {
			background-size: 175px;
		}
	}


	// ===================================
	// Gorillaz Style Overrides
	// ===================================
	&.gorillaz {
		&.full-backboard {
			background-color: #867089;
		}

		h1, h2, li, a, a:hover, .instructions {
			color: #ffffff;
		}

		.ink-1 {
			background-color: rgba(255, 255, 255, 0.7);
			border: 1px solid var(--inner-border-color);
		}

		.ink-2 {
			background-color: rgba(227, 216, 185, 1);
		}

		.ink-3 {
			background-color: rgba(229, 138, 158, 1);
		}

		.ink-4 {
			background-color: rgba(41, 212, 199, 1);
		}

		.ink-5 {
			background-color: rgba(91, 180, 229, 1);
		}

		.ink-6 {
			background-color: rgba(230, 103, 74, 1);
		}

		.ink-7 {
			background-color: rgba(202, 94, 155, 1);
		}

		.ink-8 {
			background-color: rgba(149, 81, 158, 1);
		}

		.ink-9 {
			background-color: rgba(87, 81, 123, 1);
		}

		.ink-10 {
			background-color: rgba(232, 30, 117, 1);
		}

		.ink-11 {
			background-color: rgba(0, 0, 0, 1);
			color: white;
		}

		.ink-all {
			color: rgba(0, 0, 0, 1);
		}

		.reset-label {
			background: rgba(0, 0, 0, 0.4);
		}

		.intro-image {
			background-size: 145px;
		}

		.color-separation {
			.content-container {
				max-width: 880px;
			}

			.tile {
				background-size: 300px;

				@include bp(m) {
					background-size: 180px;
				}

				@include bp(s) {
					background-size: 140px;
				}
			}
		}

		.halftone-closeup .tile {
			background-size: 280%;
			background-position: 53% 22%;
		}

		.overview .tile {
			background-size: 100px;
		}
	}


	// ===================================
	// Kiss Style Overrides
	// ===================================
	&.kiss {
		&.full-backboard {
			background-color: #51626f;
		}

		h1, h2, li, a, a:hover, .instructions {
			color: #ffffff;
		}

		.ink-1 {
			background-color: rgba(255, 255, 255, 0.7);
			border: 1px solid var(--inner-border-color);
		}

		.ink-2 {
			background-color: rgba(119, 111, 103, 1);
		}

		.ink-3 {
			background-color: rgba(81, 98, 111, 1);
		}

		.ink-4 {
			background-color: rgba(151, 75, 7, 1);
		}

		.ink-5 {
			background-color: rgba(169, 163, 155, 1);
		}

		.ink-6 {
			background-color: rgba(126, 153, 170, 1);
		}

		.ink-7 {
			background-color: rgba(230, 155, 107, 1);
		}

		.ink-8 {
			background-color: rgba(161, 196, 208, 1);
		}

		.ink-9 {
			background-color: rgba(240, 213, 166, 1);
		}

		.ink-10 {
			background-color: rgba(220, 41, 30, 1);
		}

		.ink-11 {
			background-color: rgba(119, 184, 0, 1);
		}

		.ink-12 {
			background-color: rgba(255, 255, 255, 1);
		}

		.intro-image {
			background-size: 190px;
		}

		.color-separation {
			.content-container {
				max-width: 880px;
				height: 460px;

				@include bp(m) {
					height: 300px;
				}

				@include bp(s) {
					height: 240px;
				}
			}

			.tile {
				background-size: 350px;

				@include bp(m) {
					background-size: 230px;
				}

				@include bp(s) {
					background-size: 180px;
				}
			}
		}

		.halftone-closeup {
			.halftone-block {
				height: 550px;

				@include bp(m) {
					height: 330px;
				}

				@include bp(s) {
					height: 270px;
				}
			}

			.tile {
				background-size: 150%;
				background-position: 55% 29%;
			}
		}

		.overview .tile {
			background-size: 100px;
		}
	}
}
