@use '../utilities/mixins' as *;
// @use '../utilities/colors';
@use '../utilities/fonts';


.share-card-page {
	/* Variables */
	--options-color: #34485f;
	--options-color-light: #9daec1;
	--footer-height: 110px;
	--nav-height: 58px;
	--header-height: 110px;
	--not-main-height: calc(var(--footer-height) + var(--nav-height) + var(--header-height));

	main {
		display: grid;
		justify-content: center;
		align-items: center; // toggle to hide canvas
		min-height: calc(100vh - var(--not-main-height));
		// grid-template-columns: repeat(3, 350px); // toggle to hide canvas
		grid-template-columns: 350px .6fr; // toggle to hide canvas
		gap: 48px;
		max-width: 1400px;
		margin: 0 auto;
		padding: 0 20px 50px;

		@include bp(m) {
			height: auto;
			grid-template-columns: 350px;
			padding: 0 50px 50px;
		}
	}

	.hidden {
		display: none;
	}

	// ========================
	// Share Content Section
	// ========================
	.share-content-section {
		display: flex;
		flex-direction: column;

		.share-content-container {
			display: grid;
			grid-template-rows: 72px 1fr;
			gap: 32px;
			height: 350px;
			padding: 50px 22px 40px;
			// border-radius: 40px;
		}

		.text-display {
			font-family: fonts.$sans-serif-alt1;
			font-size: 40px;
			font-weight: 500;
			margin: 0;
			align-self: center;
			text-align: center;
			color: #fff;
		}

		.image-display {
			width: 100%;
			max-width: 300px;
			margin: 0 auto;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: top center;
		}
	}

	// =====================
	// Options Section
	// =====================
	.options-container {
		border: 8px solid var(--options-color);
		display: grid;

		.option {
			border-bottom: 4px solid var(--options-color);
			padding: 18px 18px 18px;

			&:last-of-type {
				border: none;
			}
		}

		.row {
			display: flex;
			padding-bottom: 10px;
		}

		.option-label {
			font-family: fonts.$sans-serif-alt1;
			font-weight: 500;
			display: block;
			font-size: 18px;
			text-transform: uppercase;
			color: var(--options-color);
			padding-bottom: 14px;
		}

		// Custom Color
		.option-color {
			display: flex;
		}

		input[type="color"] {
			width: 40px;
			height: 40px;
			border-radius: 3px;
			margin-left: 14px;
			margin-top: -8px;
		}

		// Custom Text
		.custom-text {
			height: 54px;
			width: 100%;
			border: 2px solid var(--options-color-light);
			text-indent: 14px;
			font-size: 16px;
		}

		// Image Gallery
		.gallery-container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 12px;

			.gallery-image-button {
				border: none;
				border-radius: 12px;
				padding: 10px;
				opacity: .85;
				transition: opacity 200ms ease-in-out;
				background-color: var(--options-color);
				cursor: pointer;

				&:hover {
					opacity: 1;
				}
			}

			.gallery-image {
				width: 100%;
			}

			// .sakura-flower,
			// .sakura-flower-white {
			// 	padding-left: 6px;
			// 	padding-right: 6px;
			// }
		}

		// =====================
		// Share Card Button
		// =====================
		.option-share {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.share-button {
			font-family: fonts.$sans-serif-alt1;
			font-weight: 800;
			font-size: 18px;
			text-transform: uppercase;
			color: var(--options-color);
			padding: 10px 16px;
			border-radius: 6px;
			border: 1px solid #a8b6c5;
			background-image: linear-gradient(#f1f5fb, #d7e0e8);

			svg.share-icon {
				width: 22px;
				margin-inline-start: 10px;

				path {
					fill: var(--options-color)
				}
			}
		}
	}

	// =====================
	// Canvas Container
	// =====================
	.canvas-container {
		display: none; // toggle to hide canvas
	}
}
