@use '../utilities/mixins' as *;
@use '../utilities/colors';
@use '../utilities/fonts';


.slide-puzzle-page {
	// Variables
	$puzzle-bg-color: #0a0a0a;

	.slide-puzzle-container {
		display: grid;
		grid-template-columns: 410px 410px;
		gap: 30px;
		justify-content: center;
		padding: 0 50px 50px;

		.reference-image {
			width: 100%;
			height: 410px;
			// background: url('/slide-puzzle/narwhal-animated.gif');
			background: url('/slide-puzzle/narwhal-static.jpg');
			background-position: 50%;
			background-size: contain;
			background-repeat: no-repeat;
			border: 10px solid transparent;
		}

		.puzzle-board {
			display: grid;
			gap: 2px;
			width: 426px;
			background-color: $puzzle-bg-color;
			border: 10px solid transparent;
		}
	}


	// ===========================
	// Tile
	// ===========================
	.tile {
		height: 100px;
		background-repeat: no-repeat;
		border: none;
		// background: url('/slide-puzzle/narwhal-animated.gif');
		background: url('/slide-puzzle/narwhal-static.jpg');
		background-size: 400% 400%;
	}

	.tile-blank {
		background: none;
		background-color: $puzzle-bg-color;
	}

	.tile-1 {
		background-position: 0 0;
	}
	.tile-2 {
		background-position: 33.33% 0;
	}
	.tile-3 {
		background-position: 66.66% 0;
	}
	.tile-4 {
		background-position: 100% 0;
	}
	.tile-5 {
		background-position: 0 33.33%;
	}
	.tile-6 {
		background-position: 33.33% 33.33%;
	}
	.tile-7 {
		background-position: 66.66% 33.33%;
	}
	.tile-8 {
		background-position: 100% 33.33%;
	}
	.tile-9 {
		background-position: 0% 66.66%;
	}
	.tile-10 {
		background-position: 33.33% 66.66%;
	}
	.tile-11 {
		background-position: 66.66% 66.66%;
	}
	.tile-12 {
		background-position: 100% 66.66%;
	}
	.tile-13 {
		background-position: 0% 100%;
	}
	.tile-14 {
		background-position: 33.33% 100%;
	}
	.tile-15 {
		background-position: 66.66% 100%;
	}
	.tile-16 {
		background-position: 100% 100%;
	}


	// ==============================
	// Intro
	// ==============================
	.intro {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1000px;
		margin: 0 auto;
		padding: 20px;

		.text-block {
			display: flex;
			flex-direction: column;
		}

		.alt-header h1 {
			text-align: left;
			margin-top: 10px;
			margin-bottom: 0;
		}

		.description {
			padding: 0 20px;
		}

		p+p {
			margin-top: 0;
		}
	}


	// ===========================
	// Custom Puzzle Settings
	// ===========================
	.puzzle-settings {
		display: flex;
		flex-direction: column;
		border: 1px solid colors.$brown;
		text-align: center;
		padding: 20px;

		.row {
			margin-bottom: 5px;
		}

		.shuffle-level {
			width: 86px;
		}
	}
}
