@use '../utilities/mixins' as *;
@use '../utilities/colors';
@use '../utilities/fonts';


.slide-puzzle-page {
	// Variables
	$puzzle-bg-color: #0a0a0a;
	$intro-container-height: 214px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	.slide-puzzle-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px;
		max-width: 1400px;
		margin: 0 auto;
		padding: 10px 50px 40px;

		@include bp(l) {
			padding: 20px 36px 40px;
			max-width: 100%;
			flex-direction: column-reverse;
		}

		.reference-image {
			width: 48%;
			align-self: center;
			border: 10px solid transparent;

			@include bp(l) {
				width: 100%;
			}
		}

		picture {
			display: inline-block;
			width: 100%;
			text-align: right;
		}

		img {
			max-width: 100%;
		}

		.puzzle-board {
			display: grid;
			gap: 2px;
			width: 48%;

			@include bp(l) {
				width: 100%;
			}
		}
	}


	// ===========================
	// Tile
	// ===========================
	.tile {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		border: none;
		cursor: pointer;
		background-color: $puzzle-bg-color; // fallback until image has loaded for mobile
	}

	.tile-blank {
		background: none;
		background-color: $puzzle-bg-color;
		cursor: default;
	}


	// ==============================
	// Intro
	// ==============================
	.intro {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1000px;
		margin: 0 auto;
		padding: 20px;

		@include bp(l) {
			flex-flow: wrap;
			justify-content: center;
		}

		.text-block {
			display: flex;
			flex-direction: column;
		}

		.sub-page-header h1 {
			text-align: left;
			margin-top: 10px;
			margin-bottom: 0;
		}

		.description {
			padding: 0 20px;
		}

		.link-hidden {
			color: colors.$brown;
		}

		p+p {
			margin-top: 0;

			@include bp(l) {
				margin-bottom: 30px;
			}
		}

		// Shared Settings
		hr {
			width: 100%;
			color: colors.$lt-brown;
			opacity: .4;
		}

		.reshuffle {
			margin-top: 4px;
			background-color: colors.$ltest-brown;
			font-family: fonts.$sans-serif;
			font-size: 1.3rem;
			font-weight: bold;
			color: colors.$brown;
			text-transform: capitalize;
			border-radius: 4px;
			padding: 3px 20px;
			border: 1px solid colors.$brown;
		}
	}


	// ===========================
	// Custom Puzzle Settings
	// ===========================
	.puzzle-settings {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: $intro-container-height;
		border: 1px solid colors.$brown;
		padding: 14px 20px 10px;
		position: relative;
		font-size: 1.5rem;
		margin-left: 20px;

		@include bp(l) {
			margin-left: 0;
		}

		.label {
			text-align: center;
			margin: 0;
			font-weight: bold;
		}

		.row {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 3px;
			margin-bottom: 3px;

			&:first-child {
				margin-bottom: 6px;
			}
		}

		.row.custom-image-label {
			justify-content: flex-start;
		}

		input[type='range'] {
			appearance: none;
			// -webkit-appearance: none;
			height: 7px;
			width: 86px;
			background: colors.$brown;
			border-radius: 5px;
		}

		input[type='range']::-webkit-slider-thumb {
			appearance: none;
			// -webkit-appearance: none;
			height: 17px;
			width: 17px;
			border-radius: 50%;
			background: colors.$lt-brown;
			cursor: pointer;
			box-shadow: 0 0 2px 0 colors.$brown;

			&:hover {
				transition: transform 200ms ease-in-out;
				transform: scale(1.2);
			}
		}

		input[type='number'] {
			color: colors.$brown;
		}

		input::file-selector-button {
			font-family: fonts.$sans-serif;
			font-size: 1.3rem;
			font-weight: bold;
			color: colors.$brown;
			cursor: pointer;
		}

		input[type='file'] {
			width: 210px;
			font-family: fonts.$sans-serif;
			font-size: 1.4rem;
		}

		.info {
			color: colors.$lt-brown;
			opacity: .9;
			cursor: default;
		}

		.mobile-view {
			display: none;

			@include bp(s) {
				display: flex;
			}
		}
	}


	// ===========================
	// Keyboard Guide
	// ===========================
	.keyboard-guide {
		min-height: $intro-container-height;
		border: 1px solid colors.$brown;
		padding: 12px 14px 10px;
		position: relative;
		margin-left: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include bp(s) {
			display: none;
		}

		.label {
			font-size: 1.5rem;
			text-align: center;
			margin-top: 0;
			margin-bottom: 8px;
		}

		.row {
			display: flex;
			justify-content: center;
		}

		.arrow {
			color: colors.$lt-brown;
			font-size: 1.8rem;
			opacity: .6;
		}

		button {
			margin: 2px;
			color: colors.$brown;
			font-size: 1.4rem;
			font-weight: bold;
			border-color: colors.$lt-brown;
			border-width: 1px;
			border-radius: 2px;
		}

		hr {
			margin-bottom: 12px;
		}
	}
}
