@use '../utilities/mixins' as *;
@use '../utilities/colors';
@use '../utilities/fonts';


.slide-puzzle-page {
	// Variables
	$puzzle-bg-color: #0a0a0a;

	.slide-puzzle-container {
		display: flex;
		gap: 30px;
		max-width: 1400px;
		margin: 0 auto;
		padding: 0 50px 50px;

		.reference-image {
			width: 48%;
			align-self: center;
			border: 10px solid transparent;
		}

		picture {
			display: inline-block;
			width: 100%;
			text-align: right;
		}

		img {
			max-width: 100%;
		}

		.puzzle-board {
			display: grid;
			gap: 2px;
			width: 48%;
			background-color: $puzzle-bg-color;
			border: 10px solid transparent;
		}
	}


	// ===========================
	// Tile
	// ===========================
	.tile {
		background-repeat: no-repeat;
		border: none;
		// background: url('/slide-puzzle/narwhal-animated.gif');
		// background: url('/slide-puzzle/narwhal-static.jpg');
		background: url('/slide-puzzle/at-party.png');
	}

	.tile-blank {
		background: none;
		background-color: $puzzle-bg-color;
	}


	// ==============================
	// Intro
	// ==============================
	.intro {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1000px;
		margin: 0 auto;
		padding: 20px;

		.text-block {
			display: flex;
			flex-direction: column;
		}

		.alt-header h1 {
			text-align: left;
			margin-top: 10px;
			margin-bottom: 0;
		}

		.description {
			padding: 0 20px;
		}

		p+p {
			margin-top: 0;
		}
	}


	// ===========================
	// Custom Puzzle Settings
	// ===========================
	.puzzle-settings {
		display: flex;
		flex-direction: column;
		border: 1px solid colors.$brown;
		text-align: center;
		padding: 20px;

		.row {
			margin-bottom: 5px;
		}

		.shuffle-level {
			width: 86px;
		}
	}
}
