@use '../utilities/mixins' as *;
// @use '../utilities/colors';
@use '../utilities/fonts';


.ghost-pong-page {
	text-align: center;

	h1 {
		font-family: fonts.$alt-title-for-g;
	}

	.scoreboard,
	.settings-button {
		position: relative;
		display: inline-block;
		width: 180px;
		padding: 6px 10px;
		background: grey; /* fallback */
		background-image: linear-gradient(#bcbcbc, #727272);
		border-radius: 3px;
		box-shadow: 0px 1px 5px -1px #333;
		margin: 0 18px 20px;

		p {
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 16px;
			font-weight: bold;
			text-shadow: 2px 2px #606060;
			margin: 4px;
		}
	}

	.settings-button {
		width: 180px;
		padding: 8px 10px;
		color: #fff;
		text-transform: uppercase;
		text-shadow: 2px 2px #606060;
		font-size: 16px;
		font-weight: bold;
		border-style: none;
		margin-top: 20px;
		margin-bottom: 7px;
	}

	.is-paused {
		background: #cc3102; /* fallback */
		background: linear-gradient(#e8734f, #cc3102);		
	}
}
