@use '../utilities/mixins' as *;
@use '../utilities/colors';
@use '../utilities/fonts';


.ghost-pong-page {
	/* Variables */
	--button-lt-color: #bcbcbc;
	--button-dk-color: #727272;
	--button-hover-color: #656464;
	--button-pause-lt-color: #e8734f;
	--button-pause-dk-color: #cc3102;
	--button-pause-hover-color: #b62c02;

	text-align: center;

	h1 {
		font-family: fonts.$alt-title-for-g;
	}

	// ===========================
	// Scoreboard
	// ===========================
	.scoreboard {
		display: inline-block;
		width: 180px;
		padding: 6px 10px;
		border-radius: 3px;
		border: 1px solid colors.$text;
		box-shadow: 0px 1px 2px -1px colors.$text;
		margin: 0 18px 20px;

		p {
			text-transform: uppercase;
			text-decoration: none;
			font-size: 16px;
			font-weight: bold;
			margin: 4px;
		}
	}


	// ===========================
	// Controls
	// ===========================
	.game-pad-container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 10px;
	}

	.game-pad {
		// display: inline-block;
		// width: 60px;
		display: flex;
		flex-direction: column;

		&.left-player-game-pad {
			margin-right: 80px;
		}

		&.right-player-game-pad {
			margin-left: 80px;
		}

		.control {
			position: relative;
			display: inline-block;
			height: 46px;
			border-style: none;
			box-shadow: 1px 0px 2px 0px #7c7c7c;
			padding: 10px;

			img {
				display: block;
				pointer-events: none;
			}
		}

		.control-up {
			background-color: #9396BA; /* fallback */
			background: linear-gradient(#9396BA, #73759b);
			border-top-right-radius: 12px;
			border-top-left-radius: 12px;
			padding-bottom: 0;

			&.is-pressed {
				transform: translate(1px, 1px);
			}
		}

		.control-down {
			background-color: #9396BA; /* fallback */
			background: linear-gradient(#73759b, #9396BA);
			border-bottom-left-radius: 12px;
			border-bottom-right-radius: 12px;
			padding-top: 0;

			&.is-pressed {
				transform: translate(1px, -1px);
			}
		}

		.arrow {
			width: 30px;
			transform: rotate(0deg);
			opacity: .5;
		}

		.control-up:hover, .control-up:active {
			background-color: #abafd8; /* fallback */
			background: linear-gradient(#abafd8, #7a7ca0);
		}

		.control-down:hover, .control-down:active {
			background-color: #abafd8; /* fallback */
			background: linear-gradient(#7a7ca0, #abafd8);
		}
	}


	// ===========================
	// Keyboard Guide
	// ===========================
	.key-guide-container {
		display: grid;
		gap: 4px;
		margin: 15px;

		.title {
			display: flex;
			align-items: center;
		}

		&.left-player-guide {
			grid-template-columns: 118px 34px;

			.title {
				grid-row: span 2;
			}
		}

		&.right-player-guide {
			grid-template-columns: 34px 118px;

			.title {
				grid-column: 2;
				grid-row: 1 / span 2;
			}
		}

		.key-guide {
			background-color: #e8e8e8;
			color: #8e8c8c;
			font-size: 16px;
			font-weight: bold;
			border-radius: 3px;
			padding: 11px 8px;
		}
	}


	// ===========================
	// Settings
	// ===========================
	.settings-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 10px;
		padding-bottom: 80px;
	}

	.settings-button {
		width: 180px;
		background-color: var(--button-dk-color); /* fallback */
		background-image: linear-gradient(var(--button-lt-color), var(--button-dk-color));
		border-radius: 3px;
		box-shadow: 0px 1px 5px -1px #333;
		padding: 8px 10px;
		color: #fff;
		text-transform: uppercase;
		text-shadow: 2px 2px #606060;
		font-size: 16px;
		font-weight: bold;
		border-style: none;
		margin: 6px;

		&:hover:enabled {
			background-color: var(--button-hover-color); /* fallback */
			background: linear-gradient(var(--button-lt-color), var(--button-hover-color));
		}
	}

	.is-paused {
		background-color: var(--button-pause-dk-color); /* fallback */
		background: linear-gradient(var(--button-pause-lt-color), var(--button-pause-dk-color));

		&:hover:enabled {
			background-color: var(--button-pause-hover-color); /* fallback */
			background: linear-gradient(var(--button-pause-lt-color), var(--button-pause-hover-color));
		}
	}
}
