@use '../utilities/mixins' as *;
// @use '../utilities/colors';
// @use '../utilities/fonts';


.share-card-page {
	/* Variables */
	--options-color: #34485f;
	--options-color-light: #9daec1;

	main {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		max-width: 1400px;
		margin: 0 auto;
	}

	section {
		border: 2px solid #ccc;
		height: 65vh;
	}

	.hidden {
		display: none;
	}

	.share-content-container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 50px;

		.custom-text-output {
			font-size: 26px;
		}
	}

	.options-container {
		border: 8px solid var(--options-color);
		display: flex;
		flex-direction: column;

		.option-label {
			display: inline-block;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: 400;
			color: var(--options-color);
			padding-bottom: 14px;
		}

		.option {
			height: 25%;
			border-bottom: 4px solid var(--options-color);
			padding: 14px;

			&:last-of-type {
				border: none;
			}
		}

		.custom-text {
			// margin-top: 14px;
			height: 54px;
			width: 100%;
			border: 2px solid var(--options-color-light);
			text-indent: 14px;
			font-size: 16px;
		}
	}

	.canvas-container {
	}
}
