@use '../utilities/mixins' as *;
// @use '../utilities/colors';
// @use '../utilities/fonts';


.share-card-page {
	/* Variables */
	--options-color: #34485f;
	--options-color-light: #9daec1;

	main {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr 1fr;
		gap: 20px;
		max-width: 1400px;
		margin: 0 auto;
		padding: 0 20px 50px;
	}

	section {
		border: 2px solid #ccc;
		height: 67vh;
		// background-color: #f0f2f5;
	}

	.hidden {
		display: none;
	}

	// ========================
	// Share Content Section
	// ========================
	.share-content-container {
		display: grid;
		grid-template-rows: 1fr 2fr;
		gap: 24px;
		padding: 50px 20px;

		.text-display {
			font-size: 42px;
			margin: 0;
			align-self: flex-end;
			text-align: center;
			color: #fff;
		}

		.image-display {
			width: 100%;
			max-width: 300px;
			margin: 0 auto;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: top center;
		}
	}

	// =====================
	// Options Section
	// =====================
	.options-container {
		border: 8px solid var(--options-color);
		display: grid;
		grid-template-rows: 1fr 1.5fr 2fr 1fr;

		.option {
			border-bottom: 4px solid var(--options-color);
			padding: 14px 18px 18px;

			&:last-of-type {
				border: none;
			}
		}

		.option-label {
			display: block;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: 400;
			color: var(--options-color);
			padding-bottom: 14px;
		}

		// Custom Color
		.option-color {
			display: flex;
		}

		input[type="color"] {
			width: 116px;
			height: 40px;
			border-radius: 3px;
			margin-left: 14px;
		}

		// Custom Text
		.custom-text {
			height: 54px;
			width: 100%;
			border: 2px solid var(--options-color-light);
			text-indent: 14px;
			font-size: 16px;
		}

		// Gallery
		.gallery-container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 12px;

			.gallery-image-button {
				border: none;
				border-radius: 12px;
				padding: 10px;
				opacity: .7;
				transition: opacity 200ms ease-in-out;

				&:hover {
					opacity: 1;
				}
			}

			.gallery-image {
				width: 100%;
			}

			.button-black {
				background-color: black;
			}
		}

		// =====================
		// Share Card Button
		// =====================
		.option-share {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.share-card-button {
			font-size: 18px;
			text-transform: uppercase;
			font-weight: 800;
			color: var(--options-color);
			padding: 10px 16px;

			border-radius: 3px;
			border: 2px solid #a8b6c5;
			background-image: linear-gradient(#fff, #ebf0f5);

			svg.share-icon {
				width: 22px;
				margin-inline-start: 10px;

				path {
					fill: var(--options-color)
				}
			}
		}
	}

	// =====================
	// Canvas Container
	// =====================
	.canvas-container {
	}
}
