@use '../utilities/mixins' as *;
// @use '../utilities/colors';
// @use '../utilities/fonts';

.animated-stickers-page {
	text-align: center;

	&.page-backboard {
		padding-bottom: 54px;

		@include bp(s) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	h1 {
		margin-top: 0;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(4, 150px);
		gap: 18px 28px;
		justify-content: center;
		padding: 0 20px;

		@include bp(l) {
			grid-template-columns: repeat(3, 150px);
		}

		@include bp(m) {
			grid-template-columns: repeat(2, minmax(100px, 150px));
		}

		@include bp(s) {
			gap: 18px 0;
		}
	}

	hr {
		margin-top: 36px;
	}

	.sticker-image {
		display: block;
		max-width: 100%;
	}

	.description {
		margin: auto;
		max-width: 450px;
		padding: 40px 20px 36px;

		@include bp(s) {
			max-width: 300px;
		}
	}

	.app-image {
		max-width: 250px;
		margin: 14px 20px;
	}
}
