@use '../utilities/mixins' as *;
@use '../utilities/colors';
// @use '../utilities/fonts';

.film-page {
	text-align: center;

	// ==================================
	/* Video */
	// ==================================
	.films-container {
		position: relative;
		margin: 0 auto;
		max-width: 560px;

		&::before {
			content: '';
			display: block;
			padding-top: calc((3 / 4) * 100%);
		}
	}

	iframe {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}


	// ==================================
	/* Description */
	// ==================================
	.description {
		margin: 50px auto 10px;
		max-width: 420px;
	}

	// hide <br> for mobile
	@include bp(s) {
		.text-break-large {
			display: none;
		}
	}


	// ==================================
	/* Eurama -  - Override Styles */
	// ==================================
	&.eurama {
		.films-container{
			max-width: 660px;

			&::before {
				padding-top: 53.33%;
			}
		}

		.description {
			max-width: 280px;
		}
	}
}
