@use '../utilities/mixins' as *;
@use '../utilities/colors';
// @use '../utilities/fonts';

.resource-page {
	.resource-container {
		border-top: 2px solid colors.$off-white;
	}

	h2 {
		display: inline-block;
		transition: all 2000ms ease;
	}

	// animated underline
	h2::after {
		content: '';
		width: 0px;
		height: 2px;
		display: block;
		background: colors.$text;
		opacity: .5;
		transition: all 400ms ease-in-out;
	}

	h2:hover::after {
		width: 100%;
	}

	a {
		&:hover {
			text-decoration: underline;
		}
	}

	.images-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 8px;
		margin: 0 auto 20px;

		@include bp(l) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include bp(m) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include bp(s) {
			grid-template-columns: 1fr;
		}
	}

	img {
		display: grid;
		width: 100%;
		margin: 0 auto;
	}


	// =====================================
	/* Override Styles */
	// =====================================
	.resource-container-email-template {
		.images-container {
			background-color: black;
			grid-template-columns: 1fr repeat(10, .04fr);
			gap: 20px;
			padding-right: 20px;

			@include bp(m) {
				gap: 10px;
				padding-right: 10px;
			}
		}

		.img-1 {
			grid-row-start: 1;
			grid-row-end: span 2;
		}

		.img-2,
		.img-3 {
			grid-column-end: span 5;
			align-self: flex-end;
		}

		.img-2 {
			padding-left: 30px;

			@include bp(m) {
				padding-left: 10px;
			}
		}

		.img-3 {
			padding-right: 30px;

			@include bp(m) {
				padding-right: 10px;
			}
		}

		.img-4,
		.img-5,
		.img-6,
		.img-7,
		.img-8 {
			grid-row-start: 2;
			grid-column-end: span 2;
			margin: 12px;

			@include bp(m) {
				margin: 2px;
			}
		}
	}

	.resource-container-separation-breakdown {
		.images-container {
			background-color: black;
			grid-template-columns: repeat(6, 1fr);
		}
	}

	.resource-container-sprite-sheet {
		.images-container {
			grid-template-columns: 1fr;
		}
	}
}
