@use './utilities/mixins' as *;
@use './utilities/colors';
@use './utilities/fonts';

/* Components */
@use 'components/creative-card';

/* Creative Coding sub-pages */
@use 'creative-coding-pages/spinners-loaders';


// ==========================
// Update REM units to base 10
// instead of 16 (easier to work with)
html {
	font-size: 62.5%; // updates the base to 10
}

body {
	font-size: 1.6rem; // will set to 16px;
}
// ==========================


/* Variables */
:root {
	--desktop-nav-height: 58px;
}

/* General */
* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: colors.$bg;
	color: colors.$text;
	font-family: fonts.$sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: colors.$text;
	font-family: fonts.$sans-serif;
}

p, li {
	font-family: fonts.$sans-serif;
	font-size: 1.6rem;
	color: colors.$text;
}

a {
	font-family: fonts.$sans-serif;
	font-size: 1.6rem;
	// color: inherit;
	color: colors.$link;
	text-decoration: none;

	&:hover {
		color: colors.$link-hover;
	}
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

hr {
	border-top: 1px solid colors.$lt-brown;
	opacity: 0.3;
}


// ==========================
/* Backboard Styles */
// ==========================

.full-backboard {
	background-color: colors.$backboard-bg;
	min-height: calc(100vh - 110px); // accounting for the footer's height
	padding-top: var(--desktop-nav-height);
}

.page-backboard {
	background-color: colors.$backboard-bg;
	max-width: 1000px;
	min-height: calc(100vh - 110px); // accounting for the footer's height
	padding: 4rem;
	padding-top: calc(var(--desktop-nav-height) + 4rem);
	box-shadow: 0px 20px 60px -20px rgba(0, 0, 0, 0.4);
	margin: 0 auto;
}
